body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
}

.boton-imagen {
  position: absolute;
  top: 80px;
  right: 20px;
  text-align: center;
  width: fit-content;
  max-width: 90vw; 
  margin: 0 auto;
  word-wrap: break-word; 
  overflow-wrap: break-word;
  z-index: 100;  
}

.imagen-boton {
  cursor: pointer;
  display: block;
  width: 100%;
  max-width: 150px;
  filter: drop-shadow(0 0 6px #ffd700);
  transition: transform 0.3s ease, filter 0.3s ease;
  margin: 0 auto;
}

.imagen-boton:hover {
  transform: scale(0.9);
  filter: drop-shadow(0 0 12px #fffacd);
}

.boton-imagen p {
  margin: 4px auto 0 auto;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 15px;
  color: #e5d19d;
  text-shadow: 0 0 6px #4a2772;
  width: 100%;
  text-align: center;
  line-height: 1.2;
}

/* Responsive tablet */
@media (max-width: 768px) {
  .boton-imagen {
    top: 10px;
    right: 10px;
    z-index: 100;  
  }

  .imagen-boton {
    max-width: 70px;
  }

  .boton-imagen p {
    font-size: 12px;
  }
}

/* Responsive móvil */
@media (max-width: 480px) {
  .boton-imagen {
    top: 5px;
    right: 5px;
    z-index: 100; 
  }

  .imagen-boton {
    max-width: 60px;
  }

  .boton-imagen p {
    font-size: 10px;
  }
}