
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


footer {
    
    color: #F5E0A3;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
    
}

.footer-line {
  height: 2px;
  background-color: #f5e8c7; /* color dorado claro */
  width: 80%; /* o 60%, según prefieras */
  margin: 2rem auto 1rem auto; /* separación arriba/abajo y centrado */
  border-radius: 999px;
}
