@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

h1{
  font-family: "Libre Baskerville", serif;
}

h2{
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

h3{
  font-family: "Libre Baskerville", serif;
}

p{
font-family: "Libre Baskerville", serif;
}


.logo-noctiluca {
  width: 32rem;         /* tamaño base del logo */
  max-width: 90vw;       /* asegura que no se pase en pantallas pequeñas */
  height: auto;
  display: block;
  margin: 0 auto;
}



